@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Barlow;
  font-display: swap;
  src: url("./fonts/Barlow-Regular.ttf");
}

@font-face {
  font-family: "Barlow Medium";
  font-display: swap;
  src: url("./fonts//Barlow-Medium.ttf");
}

@font-face {
  font-family: "Barlow SemiBold";
  font-display: swap;
  src: url("./fonts//Barlow-SemiBold.ttf");
}

@font-face {
  font-family: "Barlow Bold";
  font-display: swap;
  src: url("./fonts//Barlow-Bold.ttf");
}
$radio-size: 22px;
$radio-border: #d1d7e3;

$base-pink: #e83b69;
$dark-blue: #222937;
$darker-blue: #0f1722;
$light-gray: #a4a4a4;
$primary-gray: #2c333e;
$primary-blue: #131c29;
$primary-red: #ff4848;
$primary-green: #17b51c;
$lighter-gray: #e8e8e8;
$base-pink-gradient: linear-gradient(232.52deg, #9d1538 13.71%, #e83b68 95.33%);

html,
body {
  font-family: Barlow;
}

@layer utilities {
  .text-primary-pink {
    color: $base-pink;
  }

  .text-light-gray {
    color: $light-gray;
  }

  .text-lighter-gray {
    color: $lighter-gray;
  }

  .bg-primary-pink {
    background-color: $base-pink;
  }

  .text-primary-red {
    color: $primary-red;
  }

  .text-primary-green {
    color: $primary-green;
  }

  .bg-dark-blue-gradient {
    background: linear-gradient(
      358.67deg,
      #131c29 100%,
      rgba(29, 34, 44, 0) 104.48%
    );
  }

  .bg-primary-pink-gradient {
    background: $base-pink-gradient;
  }

  .bg-primary-red {
    background-color: $primary-red;
  }

  .bg-dark-blue {
    background-color: $dark-blue;
  }

  .bg-darker-blue {
    background-color: $darker-blue;
  }

  .bg-primary-blue {
    background-color: $primary-blue;
  }

  .bg-primary-gray {
    background-color: $primary-gray;
  }

  .border-primary-pink {
    border-color: $base-pink;
  }
}

input {
  background-color: $dark-blue;
  padding: 1rem;
  border-radius: 4px;
  color: $lighter-gray;
}

input:focus,
textarea:focus {
  outline: none;
  -webkit-box-shadow: 0px 0px 6px 1px rgba(59, 71, 89, 1);
  -moz-box-shadow: 0px 0px 6px 1px rgba(59, 71, 89, 1);
  box-shadow: 0px 0px 6px 1px rgba(59, 71, 89, 1);
}

button {
  color: #fff;
  font-weight: 700;
  width: 100%;
  padding: 0.5rem 1.25rem;
  border-radius: 0.25rem;
  &:hover {
    filter: brightness(1.2);
  }
}

a {
  color: $light-gray;
  &:hover {
    filter: brightness(1.2);
    text-decoration: underline;
  }
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}
